* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: rgb(49, 49, 49);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: aliceblue;
  height: 480px;
  width: 480px;
  flex-direction: row;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.new-btn {
  width: 160px;
  height: 35px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 700;
}
